<launch>
	<node name="pattern_positioner" pkg="confidence_models" type="pattern_positioner" output ="screen">
		<param name="roll" value="0"/>
		<param name="pitch" value="35"/>
		<param name="yaw" value="0.0"/>
		<param name="x" value=" 0.00"/>
		<param name="y" value="0.000"/>
		<param name="z" value="0.39"/>
	</node>
</launch>
