<launch>
	<node pkg="tissue_waypoints" type ="tissue_waypoints" name="tissue_waypoints" output = "screen">
		<param name ="x_min" value ="-0.029"/>
		<param name ="x_max" value ="-0.007"/>
		<param name ="y_min" value ="0.022"/>
		<param name ="y_max" value ="0.036"/>
		<param name ="z_min" value ="0.35"/>
		<param name ="z_max" value ="0.45"/>
	</node>
</launch>