<launch>
	<node pkg="tissue_waypoints" type ="tissue_waypoints" name="tissue_waypoints" output = "screen">
		<param name ="x_min" value ="-0.034"/>
		<param name ="x_max" value ="0.034"/>
		<param name ="y_min" value ="-0.034"/>
		<param name ="y_max" value ="0.034"/>
		<param name ="z_min" value ="0.27"/>
		<param name ="z_max" value ="0.43"/>
	</node>
</launch>